body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


@media (min-width: 425px){
  .navbar-toggler {
      display: none;
  }
  
}

@media (max-width: 425px){
  .nav-list {
      display: none;
  }
  
}