body {
    font-family: 'Share Tech', sans-serif;
  }
  
  a {
    color: black;
  }
  
  .mp0 {
    margin:0 ;
    padding:0
  }
  
  
  
  p {
      font-size: 20px;
      color: rgb(18, 35, 134);
  }
  
  
  
  
  
  
  
  
  
  @media (max-width: 552px){
    .p2, .p3 {
        display: none;
    }
    .cards-group {
      align-items: center;
    }
    
  }
  @media (max-width: 768px){
    .p3 {
        display: none;
    }
  }
  
  @media (max-width: 1024px){
    .p4 {
        display: none;
    }
  }
  
  @media (max-width: 425px){
    .btn-access, .btn-search {
        display: none;
    }
  }