<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head', {title: title}); %>
<!-- Fin Head -->

<body>
  <div class="container-fluid mp0">
    <nav class="navbar navbar-dark bg-dark mp0">




      <div class="row col-3 mp0">
      <a class="navbar-brand" href="#">App Side
      </a>
    </div>

      <div class="row col-7 mp0">
      <form class="form-inline">
        <input class="search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>


    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    </i><button type="button" class="btn btn-danger"><i class="fas fa-power-off"></i></button>
    </a>
  </nav>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="access">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </div>
      </div>
    </div>

      <!-- <div>
        <div class="mp0 flex-shrink-1 bd-highlight">
          </i><button type="button" class="btn btn-danger"><i class="fas fa-power-off"></i></button>
        </div>
      </div> -->



   
  </div>

  <div class="card" style="width: 18rem;">
    <img src="<%= application.image_url %> " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>






  <!--Scripts-->
  <%- include('partials/scripts') %>
  <!--Fin Scripts-->
</body>

</html>