<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/index.css" class="css" />

</head>
<!-- Fin Head -->

<body>

  <%- include('partials/navbar') %>
  <h1>Load Image</h1>


  <form action="/apps/loadImage/<%= application.id %> " method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleFormControlFile1"></label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image_url">
    </div>
    <button type="submit"> Load </button>
  </form>




  <!--Scripts-->
  <%- include('partials/scripts') %>
  <!--Fin Scripts-->
</body>

</html>