<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/index.css" class="css" />

</head>
  <!-- Fin Head -->

  <body>
    

    <%- include('partials/navbar') %> 

   <p>Usted no tiene permisos como adminstrador</p>
    
    <a href="/"><button type="button" class="btn btn-dark">Home</button></a>
 



    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>