<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head'); %>
<!-- Fin Head -->

<body>
  

    <h1>Register</h1>

    <form action="/register" method="POST">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>


    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
</body>

</html>