<div class="container d-flex">

  <% for (let i = 1; i < 4; i++) {%>
  
    
    <div class="album py-5 bg-light">
      <div class="container">
        <div>
          <div>
            <div class="card p<%= [i] %>  mb-4 shadow">
              <% if(application[i].price < 10000) {%>
                <img class=" card-img-top" width="100%" height="200px" src="<%= application[i].image_url %> " alt="">
            <% }  else {%> 
        <img class=" card-img-top" width="100%" height="200px" src="/images/<%= application[i].image_url %> " alt="">
            <% } %> 
              <div class="card-body">
                <p class="card-text"><%= application[i].category.name %></p>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
  <% } %> 
  </div>