<div class="container-fluid mp0">
  <nav class="navbar navbar-dark bg-dark mp0">




    <div class="row col-1 mp0 d-flex">
      <a class="navbar-brand" href="/">App Side
      </a>
    </div>




    <div class="row mp0">
     
    </div>

    <div class="dropdown">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        </i><button type="button" class="btn-access btn btn-danger"><i class="fas fa-power-off"></i></button>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a href="/register"><button>Register</button> </a><br>
        <a href="/login"><button>Login</button> </a><br>
        <form action="/login/close" method="POST">
          <button type="submit">Sign Out</button>
          </form>
        
      </div>
    </div>
  </nav>

</div>