<div class="container-fluid mp0">
  <nav class="navbar navbar-dark bg-dark mp0">




    <div class="row col-1 mp0 d-flex">
      <a class="navbar-brand" href="/">App Side
      </a>
    </div>




    <div class="row mp0">
      <form class="form-inline">
        <input class="search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn-search btn btn-outline-warning my-2 my-sm-0" type="submit"><i
            class="fas fa-search"></i></button>
      </form>
    </div>

    <div class="dropdown">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        </i><button type="button" class="btn-access btn btn-danger"><i class="fas fa-power-off"></i></button>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a href="/register">Register</a><br>
        <a href="/login">Login</a>
      </div>
    </div>
  </nav>

</div>